@import url('http://fonts.googleapis.com/css?family=Vollkorn');

body {
    font-family: 'Vollkorn', serif;
    // background-image: url(https://tf-curricula-prod.s3.amazonaws.com/curricula/TK7MJkkxuVSLEH2iz0I7/ANG-001/v2/assets2/1.2.6_ngMadLibs/ngmadlib-mockup.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

input {
    font-family: 'Vollkorn', serif;
}

.wrapper {
    min-width: 600px;
    width: 50%;
    margin: 4em auto;
    border: 3px solid black;
    background-color: #fff;
}

header {
    text-align: right;
    border-bottom: 3px solid black;
    height: 105px;
    h1 {
        position: absolute;
        left: -9999px;
    }
    h2 {
        font-size: 3em;
        margin: 0;
        line-height: 1;
    }
    .face {
        float: left;
        max-width: 72px;
        padding: 1.2em 2.2em 0.9em 2.2em;
        border-right: 3px solid black;
    }
    .logo {
        max-height: 50px;
    }
    div.title {
        float: right;
        text-align: center;
        width: 75%;
    }

}

.words {
    padding: 1em;
    border-bottom: 3px solid black;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;
        align-items: center;
        li {
            margin: 0.7em;
        }
    }
    input[type="text"] {
        border: 2px solid #000;
        display: inline;
        padding: 0.4em;
        font-size: 1em;
    }
}
.libs {
    font-size: 1.2em;
    line-height: 1.6;
    padding: 1em 2em;
    span.var {
        background-color: lightyellow;
        padding: 0.1em;
        text-decoration: underline;
        // &::before {
        //     content: '{{';
        // }
        // &::after {
        //     content: '}}';
        // }
    }
}